.header-container {
  background-color: #026aa7;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  margin: 0;
  font-size: 1.5rem;
}

.reset-button {
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.reset-button:hover {
  background-color: #f0f0f0;
} 